<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>DCT Wedding Prototype</title>
		<meta name="description" content="">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="title" content="DCT Wedding">
		<meta name="KeyWords" content="DCT Wedding">
		<meta name="description" content="DCT Wedding">
		
		<meta property="og:title" content="DCT Wedding Website">
		<meta property="og:type" content="website">
		<meta property="og:url" content="http://www.DCT Wedding.tw/">
		<meta property="og:image" content="http://www.DCT Wedding.tw/assets/facebook_show.jpg">
		<meta property="og:site_name" content="DCT Wedding">
		<meta property="og:description" content="">
		

		<link rel="shortcut icon" href="http://www.DCT Wedding.tw/assets/favicon.png" type="image/png" />
		<link rel="Bookmark" href="http://www.DCT Wedding.tw/assets/favicon.png" type="image/png" />
		<link rel="icon" href="http://www.DCT Wedding.tw/assets/favicon.png" type="image/png" />
		<link rel="image_src" type="image/jpeg" href="http://www.DCT Wedding.tw/assets/facebook_show.jpg" />
		<meta name="Author" content="DCT Wedding team and Fontech">
		<link rev="made" href="mailto:tough@fontech.com.tw">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<link href="../stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="show m">mobile</div>
	<div class="show ph">phablet</div>
	<div class="show p">pad</div>
	<div class="show l">laptop</div>
	<div class="show d">desktop</div>
	<hgroup class="logo">
	<h1 class="logo-en">DCT Wedding</h1>
	<h1 class="logo-zh">夢實．拾夢戶外婚禮顧問團隊</h1>
</hgroup>

<nav class="navigation">
	<ul>
		<li><a href="service">服務特色</a></li>
		<li><a href="service">臺北世貿戶外場地</a></li>
		<li><a href="service">聯絡我們</a></li>
	</ul>
	<a href="#" class="reservation">線上預約</a>	
</nav>
	<div class="container">
		<!--[if lt IE 7]>
				<p class="browsehappy">為了您的電腦安全性與網站瀏覽體驗，請更新您的瀏覽器。
				<a href="http://www.google.com/chrome/index.html?hl=zh_tw&brand=CHMB&utm_campaign=zh_tw&utm_source=zh_tw-ha-apac-tw-sk&utm_medium=ha&gclid=CjwKEAjw9LKeBRDurOugs43jnlgSJACUXqHxhHgmau3Pw2ioArMma4W3O7NOhIKhP0yEb5ybkYkfRxoCAcPw_wcB">Chrome</a>
				<a href="https://www.apple.com/tw/safari/">Safari</a>
		<![endif]-->

		<!-- Add your site or application content here -->
		<div class="slider">
</div>


<div class="main">
	<div class="features">
		<div class="feature">
		<span></span>
		<h1>臺北世貿場地專約</h1>
		<p>理想的戶外婚禮，總是在交通不便的地方？想像過，台北市中心也有如此的夢幻場地？諾貝爾建築獎大師操刀，搭配週邊網友一致推薦的宴客場地與菜色，讓你面子裡外兼顧，絕不失禮！</p>
		</div>
		<div class="feature">
			<span></span>
			<h1>西式戶外證婚</h1>
			<p>戶外婚禮，有的只是那一聲我願意，與賓客又笑又淚的滿滿感動，身著西裝禮服，也感受不到任何約束 ，地點、形式隨你挑，即便是多不可能的瘋想，我們不在乎規矩，只在乎你的故事。</p>
		</div>
		<div class="feature">
			<span></span>
			<h1>新人醫美咨詢</h1>
			<p>一切都用最好的，那麼你也值得最好的！多家醫美診所獨家轉介服務，美容美甲一應俱全，讓 DCT 團隊做你的神燈精靈，完美呈現你和你的BIG DAY！</p>	
		</div>
	</div>
</div>




	<video src=""></video>

	<div>
		<!-- fancybox -->
	</div>
		<div class="contact">
	<div class="contact-info">
		<h2>聯絡DCT Wedding</h2>
		<a href="mailto:dctdctwweding@gmail.com">Email</a>
		<a href="tel:0983674631">手機</a>
		<a href="#">Line: dctwedding</a>
	</div>
	<div class="contact-info">
		<h2>DCT Wedding 社群</h2>
		<p>歡迎到Facebook按讚，或到Pinterest上追蹤我們！</p>
		<img src="" alt="DCT wedding fans page">
		<img src="" alt="DCT wedding Pinterest">
	</div>
	<div class="contact-info">
		<h2>媒體與合作廠商</h2>
		<p>感謝許多合作廠商、攝影師、化妝師的幫忙我們才能完成每個準新娘夢想的婚禮</p>
		<p>合作廠商聯絡方式：</p>
		<a href="mailto:dctwedingservice@gmail.com">email</a>
	</div>
</div>
		<footer>
	<p class="footer-en">Copyright © 2015 dctwedding.com All Rights Reserved.</p>
	<p class="footer-zh">本網站享有著作權，禁止侵害，違者必究</p>
</footer>
	</div>
	<script>
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-XXXXX-X');ga('send','pageview');
	</script>
</body>
</html>
