html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

li, a, h1, h2, p {
  color: #584943;
  font-family: times, helvetica, Arial, "微軟正黑體", "Microsoft JhengHei", "Heiti TC", "LiHei Pro", "Apple LiGothic Medium", "標楷體", "DFKai-sb", sans-serif;
}

a {
  text-decoration: none;
  display: block;
}

h1 {
  font-size: 1.5em;
  line-height: 2em;
}

h2 {
  font-size: 1.2em;
  line-height: 2em;
}

p, a {
  font-size: 1em;
  line-height: 1.6em;
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.2em;
    line-height: 1.5em;
  }

  h2 {
    font-size: 1em;
    line-height: 1.5em;
  }

  p, a {
    font-size: 0.9em;
    line-height: 1.4em;
  }
}
@media (min-width: 481px) and (max-width: 640px) {
  h1 {
    font-size: 1.2em;
    line-height: 1.5em;
  }

  h2 {
    font-size: 1em;
    line-height: 1.5em;
  }

  p, a {
    font-size: 0.9em;
    line-height: 1.4em;
  }
}
@media (min-width: 641px) and (max-width: 980px) {
  h1 {
    font-size: 1.2em;
    line-height: 1.5em;
  }

  h2 {
    font-size: 1em;
    line-height: 1.5em;
  }

  p, a {
    font-size: 1em;
    line-height: 1.4em;
  }
}
/* ------------------------------------------------------------------------- */
/* General */
html, body {
  background-image: url(../images/greyzz.png);
  background-repeat: repeat;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.logo {
  display: block;
  width: 100%;
  text-align: center;
  margin: 1em auto;
}

.logo-en {
  color: #72d1c4;
  font-family: "Times New Roman", Georgia, Seri;
  font-style: italic;
  line-height: 1.2em;
}

.logo-zh {
  line-height: 1.4em;
}

.navigation {
  position: relative;
  width: 100%;
  border: 1px solid #ece4d1;
  height: 2.5em;
  overflow: hidden;
}
.navigation ul {
  width: auto;
  display: block;
  float: left;
  height: 2.5em;
}
.navigation li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 2.5em;
  width: auto;
  padding-right: 1em;
  padding-left: 1em;
}
.navigation li:hover {
  background-color: #ece4d1;
}
.navigation li a {
  height: 2.5em;
  text-align: center;
  display: inline-block;
}

.reservation {
  display: block;
  position: absolute;
  top: -1px;
  line-height: 2.5em;
  background-color: #ece4d1;
  padding: 0 4em;
  border-left: 1px solid #ece4d1;
  border-right: 1px solid #ece4d1;
}
.reservation:hover {
  top: -2px;
  background-color: white;
  border: 1px solid #ece4d1;
}

.slider {
  display: block;
  background-color: rgba(20, 20, 20, 0.3);
  margin: 0 auto;
  clear: both;
  background-image: url(../images/dct-plaza.jpg);
  background-position: center center;
  background-size: cover;
}

.main {
  background-color: #ece4d1;
  margin: 0 auto;
  overflow: auto;
  _width: 100%;
  clear: both;
}

.feature h1 {
  line-height: 3em;
  text-align: center;
}

.video {
  position: relative;
  overflow: hidden;
}

video {
  background-color: #a7a59f;
  display: block;
  clear: both;
  width: 100%;
  position: absolute;
  z-index: 10;
  margin: auto;
  left: 0;
  right: 0;
}

.video-cover {
  position: absolute;
  width: 100%;
  z-index: 11;
  background-color: rgba(224, 215, 192, 0.4);
  top: 0;
}

.plaza-article .fa-external-link {
  display: none;
}
.plaza-article a {
  display: inline;
  position: relative;
  border-bottom: 2px dotted #72d1c4;
}
.plaza-article a:hover {
  color: #27201c;
  border-bottom: 0;
}
.plaza-article a:hover .fa-external-link {
  color: #72d1c4;
  display: block;
  position: absolute;
  bottom: 4px;
  left: 65px;
  background-color: #ece4d1;
}

i {
  margin: 8px 2px 0 0;
}

.fa-pinterest-square {
  color: #be0a1e;
}
.fa-pinterest-square:hover {
  color: #cf181b;
  text-shadow: 0px 1px 1px rgba(80, 80, 80, 0.2);
}

.fa-facebook-square {
  color: #2d448d;
}
.fa-facebook-square:hover {
  color: #3e59a2;
}

.line {
  color: #20af18;
  font-weight: bold;
  font-family: hevaltica;
}

footer {
  *zoom: 1;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  line-height: 1em;
  color: #8d8b86;
  clear: both;
  background-color: #ece4d1;
}
footer:after {
  content: "";
  display: table;
  clear: both;
}

.footer-en {
  font-size: 12px;
  display: block;
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-right: -100%;
}
.footer-en:nth-child(2n + 1) {
  margin-left: 0%;
  clear: left;
}
.footer-en:nth-child(2n + 2) {
  margin-left: 50.84746%;
  clear: none;
}

.footer-zh {
  font-size: 12px;
  display: block;
  text-align: right;
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-right: -100%;
}
.footer-zh:nth-child(2n + 1) {
  margin-left: 0%;
  clear: left;
}
.footer-zh:nth-child(2n + 2) {
  margin-left: 50.84746%;
  clear: none;
}

.magic-icon {
  background-image: url(../images/icon/dct-icon-magic-01.png);
  background-size: 120px;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.magic:hover .magic-icon {
  -webkit-animation: magic 0.3s ease-in;
  animation: magic 0.3s ease-in;
}

@-webkit-keyframes magic {
  0% {
    background-image: url(../images/icon/dct-icon-magic-01.png);
  }

  15% {
    background-image: url(../images/icon/dct-icon-magic-02.png);
  }

  30% {
    background-image: url(../images/icon/dct-icon-magic-03.png);
  }

  45% {
    background-image: url(../images/icon/dct-icon-magic-04.png);
  }

  60% {
    background-image: url(../images/icon/dct-icon-magic-05.png);
  }

  85% {
    background-image: url(../images/icon/dct-icon-magic-06.png);
  }

  100% {
    background-image: url(../images/icon/dct-icon-magic-07.png);
  }
}

@-moz-keyframes magic {
  0% {
    background-image: url(../images/icon/dct-icon-magic-01.png);
  }

  15% {
    background-image: url(../images/icon/dct-icon-magic-02.png);
  }

  30% {
    background-image: url(../images/icon/dct-icon-magic-03.png);
  }

  45% {
    background-image: url(../images/icon/dct-icon-magic-04.png);
  }

  60% {
    background-image: url(../images/icon/dct-icon-magic-05.png);
  }

  85% {
    background-image: url(../images/icon/dct-icon-magic-06.png);
  }

  100% {
    background-image: url(../images/icon/dct-icon-magic-07.png);
  }
}

@-ms-keyframes magic {
  0% {
    background-image: url(../images/icon/dct-icon-magic-01.png);
  }

  15% {
    background-image: url(../images/icon/dct-icon-magic-02.png);
  }

  30% {
    background-image: url(../images/icon/dct-icon-magic-03.png);
  }

  45% {
    background-image: url(../images/icon/dct-icon-magic-04.png);
  }

  60% {
    background-image: url(../images/icon/dct-icon-magic-05.png);
  }

  85% {
    background-image: url(../images/icon/dct-icon-magic-06.png);
  }

  100% {
    background-image: url(../images/icon/dct-icon-magic-07.png);
  }
}

@keyframes magic {
  0% {
    background-image: url(../images/icon/dct-icon-magic-01.png);
  }

  15% {
    background-image: url(../images/icon/dct-icon-magic-02.png);
  }

  30% {
    background-image: url(../images/icon/dct-icon-magic-03.png);
  }

  45% {
    background-image: url(../images/icon/dct-icon-magic-04.png);
  }

  60% {
    background-image: url(../images/icon/dct-icon-magic-05.png);
  }

  85% {
    background-image: url(../images/icon/dct-icon-magic-06.png);
  }

  100% {
    background-image: url(../images/icon/dct-icon-magic-07.png);
  }
}

.ring-icon {
  background-image: url(../images/icon/dct-icon-ring-3.png);
  background-size: 120px;
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

.ring:hover .ring-icon {
  -webkit-animation: ring 0.3s ease-in;
  animation: ring 0.3s ease-in;
}

@-webkit-keyframes ring {
  0% {
    background-image: url(../images/icon/dct-icon-ring-1.png);
  }

  15% {
    background-image: url(../images/icon/dct-icon-ring-1.png);
  }

  30% {
    background-image: url(../images/icon/dct-icon-ring-1.png);
  }

  45% {
    background-image: url(../images/icon/dct-icon-ring-2.png);
  }

  60% {
    background-image: url(../images/icon/dct-icon-ring-2.png);
  }

  80% {
    background-image: url(../images/icon/dct-icon-ring-2.png);
  }

  90% {
    background-image: url(../images/icon/dct-icon-ring-3.png);
  }

  100% {
    background-image: url(../images/icon/dct-icon-ring-3.png);
  }
}

@-moz-keyframes ring {
  0% {
    background-image: url(../images/icon/dct-icon-ring-1.png);
  }

  15% {
    background-image: url(../images/icon/dct-icon-ring-1.png);
  }

  30% {
    background-image: url(../images/icon/dct-icon-ring-1.png);
  }

  45% {
    background-image: url(../images/icon/dct-icon-ring-2.png);
  }

  60% {
    background-image: url(../images/icon/dct-icon-ring-2.png);
  }

  80% {
    background-image: url(../images/icon/dct-icon-ring-2.png);
  }

  90% {
    background-image: url(../images/icon/dct-icon-ring-3.png);
  }

  100% {
    background-image: url(../images/icon/dct-icon-ring-3.png);
  }
}

@-ms-keyframes ring {
  0% {
    background-image: url(../images/icon/dct-icon-ring-1.png);
  }

  15% {
    background-image: url(../images/icon/dct-icon-ring-1.png);
  }

  30% {
    background-image: url(../images/icon/dct-icon-ring-1.png);
  }

  45% {
    background-image: url(../images/icon/dct-icon-ring-2.png);
  }

  60% {
    background-image: url(../images/icon/dct-icon-ring-2.png);
  }

  80% {
    background-image: url(../images/icon/dct-icon-ring-2.png);
  }

  90% {
    background-image: url(../images/icon/dct-icon-ring-3.png);
  }

  100% {
    background-image: url(../images/icon/dct-icon-ring-3.png);
  }
}

@keyframes ring {
  0% {
    background-image: url(../images/icon/dct-icon-ring-1.png);
  }

  15% {
    background-image: url(../images/icon/dct-icon-ring-1.png);
  }

  30% {
    background-image: url(../images/icon/dct-icon-ring-1.png);
  }

  45% {
    background-image: url(../images/icon/dct-icon-ring-2.png);
  }

  60% {
    background-image: url(../images/icon/dct-icon-ring-2.png);
  }

  80% {
    background-image: url(../images/icon/dct-icon-ring-2.png);
  }

  90% {
    background-image: url(../images/icon/dct-icon-ring-3.png);
  }

  100% {
    background-image: url(../images/icon/dct-icon-ring-3.png);
  }
}

.plaza-icon {
  background-image: url(../images/icon/dct-icon-magic-01.png);
  background-size: 120px;
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

.plaza:hover .plaza-icon {
  -webkit-animation: plaza 0.3s ease-in;
  animation: plaza 0.3s ease-in;
}

@-webkit-keyframes plaza {
  0% {
    background-image: url(../images/icon/dct-icon-magic-01.png);
  }

  15% {
    background-image: url(../images/icon/dct-icon-magic-02.png);
  }

  30% {
    background-image: url(../images/icon/dct-icon-magic-03.png);
  }

  45% {
    background-image: url(../images/icon/dct-icon-magic-04.png);
  }

  60% {
    background-image: url(../images/icon/dct-icon-magic-05.png);
  }

  80% {
    background-image: url(../images/icon/dct-icon-magic-06.png);
  }

  90% {
    background-image: url(../images/icon/dct-icon-magic-07.png);
  }

  100% {
    background-image: url(../images/icon/dct-icon-magic-01.png);
  }
}

@-moz-keyframes plaza {
  0% {
    background-image: url(../images/icon/dct-icon-magic-01.png);
  }

  15% {
    background-image: url(../images/icon/dct-icon-magic-02.png);
  }

  30% {
    background-image: url(../images/icon/dct-icon-magic-03.png);
  }

  45% {
    background-image: url(../images/icon/dct-icon-magic-04.png);
  }

  60% {
    background-image: url(../images/icon/dct-icon-magic-05.png);
  }

  80% {
    background-image: url(../images/icon/dct-icon-magic-06.png);
  }

  90% {
    background-image: url(../images/icon/dct-icon-magic-07.png);
  }

  100% {
    background-image: url(../images/icon/dct-icon-magic-01.png);
  }
}

@-ms-keyframes plaza {
  0% {
    background-image: url(../images/icon/dct-icon-magic-01.png);
  }

  15% {
    background-image: url(../images/icon/dct-icon-magic-02.png);
  }

  30% {
    background-image: url(../images/icon/dct-icon-magic-03.png);
  }

  45% {
    background-image: url(../images/icon/dct-icon-magic-04.png);
  }

  60% {
    background-image: url(../images/icon/dct-icon-magic-05.png);
  }

  80% {
    background-image: url(../images/icon/dct-icon-magic-06.png);
  }

  90% {
    background-image: url(../images/icon/dct-icon-magic-07.png);
  }

  100% {
    background-image: url(../images/icon/dct-icon-magic-01.png);
  }
}

@keyframes plaza {
  0% {
    background-image: url(../images/icon/dct-icon-magic-01.png);
  }

  15% {
    background-image: url(../images/icon/dct-icon-magic-02.png);
  }

  30% {
    background-image: url(../images/icon/dct-icon-magic-03.png);
  }

  45% {
    background-image: url(../images/icon/dct-icon-magic-04.png);
  }

  60% {
    background-image: url(../images/icon/dct-icon-magic-05.png);
  }

  80% {
    background-image: url(../images/icon/dct-icon-magic-06.png);
  }

  90% {
    background-image: url(../images/icon/dct-icon-magic-07.png);
  }

  100% {
    background-image: url(../images/icon/dct-icon-magic-01.png);
  }
}

/* ------------------------------------------------------------------------- */
/* Mobile */
@media (max-width: 480px) {
  .container {
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    padding-bottom: 0;
  }
  .container:after {
    content: "";
    display: table;
    clear: both;
  }

  .show {
    display: none;
  }

  .m {
    display: block;
  }

  .navigation {
    display: none;
  }

  .slider {
    width: 100%;
    float: left;
    margin-right: 5.26316%;
    margin-right: -100%;
    margin-left: 0%;
    height: 240px;
    margin-bottom: 4px;
  }

  .feature, .contact-info {
    width: 100%;
    float: left;
    margin-right: 5.26316%;
    margin-right: -100%;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .feature:nth-child(1n + 1), .contact-info:nth-child(1n + 1) {
    margin-left: 0%;
    clear: left;
  }

  .magic-icon, .ring-icon, .plaza-icon {
    background-size: 60px;
    width: 60px;
    height: 60px;
  }

  footer {
    padding: 0.5em 4px;
  }

  .footer-en {
    width: 100%;
    float: left;
    margin-right: 5.26316%;
    margin-right: -100%;
  }
  .footer-en:nth-child(1n + 1) {
    margin-left: 0%;
    clear: left;
  }

  .footer-zh {
    text-align: left;
    width: 100%;
    float: left;
    margin-right: 5.26316%;
    margin-right: -100%;
  }
  .footer-zh:nth-child(1n + 1) {
    margin-left: 0%;
    clear: left;
  }
}
/* ------------------------------------------------------------------------- */
/* phablet */
@media (min-width: 481px) and (max-width: 640px) {
  .container {
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
    padding-bottom: 0;
  }
  .container:after {
    content: "";
    display: table;
    clear: both;
  }

  .navigation {
    display: none;
  }

  .show {
    display: none;
  }

  .ph {
    display: block;
  }

  .slider {
    width: 100%;
    float: left;
    margin-right: 3.44828%;
    margin-right: -100%;
    margin-left: 0%;
    height: 320px;
    margin-bottom: 12px;
  }

  .feature, .contact-info {
    width: 65.51724%;
    float: left;
    margin-right: 3.44828%;
    margin-right: -100%;
    margin-left: 17.24138%;
    clear: both;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .magic-icon, .ring-icon, .plaza-icon {
    background-size: 72px;
    width: 72px;
    height: 72px;
  }

  .video {
    display: none;
  }

  footer {
    padding: 0.5em 12px;
  }

  .footer-en {
    width: 100%;
    float: left;
    margin-right: 3.44828%;
    margin-right: -100%;
  }
  .footer-en:nth-child(1n + 1) {
    margin-left: 0%;
    clear: left;
  }

  .footer-zh {
    text-align: left;
    width: 100%;
    float: left;
    margin-right: 3.44828%;
    margin-right: -100%;
  }
  .footer-zh:nth-child(1n + 1) {
    margin-left: 0%;
    clear: left;
  }
}
/* ------------------------------------------------------------------------- */
/* pad */
@media (min-width: 641px) and (max-width: 980px) {
  .container {
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    padding-bottom: 0;
  }
  .container:after {
    content: "";
    display: table;
    clear: both;
  }

  .navigation {
    padding: 0 16px;
  }

  .reservation {
    right: 16px;
  }

  .show {
    display: none;
  }

  .p {
    display: block;
  }

  .slider {
    width: 100%;
    float: left;
    margin-right: 2.27273%;
    margin-right: -100%;
    margin-left: 0%;
    height: 380px;
    margin-bottom: 16px;
  }

  .feature, .contact-info {
    width: 31.81818%;
    float: left;
    margin-right: 2.27273%;
    margin-right: -100%;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0 1em;
  }
  .feature:nth-child(3n + 1), .contact-info:nth-child(3n + 1) {
    margin-left: 0%;
    clear: left;
  }
  .feature:nth-child(3n + 2), .contact-info:nth-child(3n + 2) {
    margin-left: 34.09091%;
    clear: none;
  }
  .feature:nth-child(3n + 3), .contact-info:nth-child(3n + 3) {
    margin-left: 68.18182%;
    clear: none;
  }

  .magic-icon, .ring-icon, .plaza-icon {
    background-size: 72px;
    width: 72px;
    height: 72px;
  }

  .video {
    height: 242px;
  }

  video {
    top: 0;
    bottom: 0;
  }

  .video-cover {
    height: 242px;
  }

  footer {
    padding: 0.5em 16px;
  }

  .footer-en {
    width: 88.63636%;
    float: left;
    margin-right: 2.27273%;
    margin-right: -100%;
  }
  .footer-en:nth-child(1n + 1) {
    margin-left: 0%;
    clear: left;
  }

  .footer-zh {
    text-align: right;
    width: 40.67797%;
    float: right;
    margin-right: 0;
  }
}
/* ------------------------------------------------------------------------- */
/* laptop */
@media (min-width: 981px) and (max-width: 1280px) {
  .container {
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    padding-bottom: 0;
  }
  .container:after {
    content: "";
    display: table;
    clear: both;
  }

  .navigation {
    padding: 0 20px;
  }

  .reservation {
    right: 20px;
  }

  .show {
    display: none;
  }

  .l {
    display: block;
  }

  .slider {
    width: 83.05085%;
    float: left;
    margin-right: 1.69492%;
    margin-right: -100%;
    margin-left: 8.47458%;
    height: 420px;
    margin-bottom: 20px;
  }

  .plaza {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    margin-right: -100%;
    margin-left: 25.42373%;
    height: auto;
  }

  .video {
    height: 380px;
  }

  video {
    top: 0;
    bottom: 0;
  }

  .video-cover {
    height: 380px;
  }

  .features, .contact {
    width: 83.05085%;
    float: left;
    margin-right: 1.69492%;
    margin-right: -100%;
    margin-left: 8.47458%;
  }

  .feature, .contact-info {
    width: 31.81818%;
    float: left;
    margin-right: 2.27273%;
    margin-right: -100%;
    margin-top: 4em;
    margin-bottom: 4em;
    padding: 0 0.5em;
  }
  .feature:nth-child(3n + 1), .contact-info:nth-child(3n + 1) {
    margin-left: 0%;
    clear: left;
  }
  .feature:nth-child(3n + 2), .contact-info:nth-child(3n + 2) {
    margin-left: 34.09091%;
    clear: none;
  }
  .feature:nth-child(3n + 3), .contact-info:nth-child(3n + 3) {
    margin-left: 68.18182%;
    clear: none;
  }

  .magic-icon, .ring-icon, .plaza-icon {
    background-size: 96px;
    width: 96px;
    height: 96px;
  }

  footer {
    padding: 0.5em 20px;
  }
}
/* ------------------------------------------------------------------------- */
/* Desktop */
@media (min-width: 1281px) {
  .container {
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    padding-bottom: 0;
  }
  .container:after {
    content: "";
    display: table;
    clear: both;
  }

  .navigation {
    padding: 0 20px;
  }

  .reservation {
    right: 20px;
  }

  .show {
    display: none;
  }

  .d {
    display: block;
  }

  .slider {
    width: 87.34177%;
    float: left;
    margin-right: 1.26582%;
    margin-right: -100%;
    margin-left: 6.32911%;
    height: 640px;
    margin-bottom: 20px;
  }

  .features {
    width: 74.68354%;
    float: left;
    margin-right: 1.26582%;
    margin-right: -100%;
    margin-left: 12.65823%;
    margin-top: 3em;
    margin-bottom: 0em;
  }

  .feature {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    margin-right: -100%;
    margin-bottom: 3em;
    padding: 3em 2em 1em 2em;
    min-height: 400px;
    text-align: justify;
  }
  .feature:nth-child(3n + 1) {
    margin-left: 0%;
    clear: left;
  }
  .feature:nth-child(3n + 2) {
    margin-left: 33.89831%;
    clear: none;
  }
  .feature:nth-child(3n + 3) {
    margin-left: 67.79661%;
    clear: none;
  }
  .feature:hover {
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.6s;
    -webkit-box-shadow: rgba(200, 200, 200, 0.1) 0px 10px 10px 0;
    -moz-box-shadow: rgba(200, 200, 200, 0.1) 0px 10px 10px 0;
    box-shadow: rgba(200, 200, 200, 0.1) 0px 10px 10px 0;
  }

  .video {
    height: 460px;
  }

  video {
    top: -5%;
    bottom: 5%;
  }

  .video-cover {
    height: 460px;
  }

  .plaza-article {
    width: 49.36709%;
    float: left;
    margin-right: 1.26582%;
    margin-right: -100%;
    margin-left: 25.31646%;
    padding: 2em 0;
    height: auto;
    margin-bottom: 20px;
  }

  .contact {
    width: 74.68354%;
    float: left;
    margin-right: 1.26582%;
    margin-right: -100%;
    margin-left: 12.65823%;
    margin-top: 2em;
    margin-bottom: 1em;
  }

  .contact-info {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    margin-right: -100%;
    margin-bottom: 3em;
    padding: 1em 1em 1em 1em;
  }
  .contact-info:nth-child(3n + 1) {
    margin-left: 0%;
    clear: left;
  }
  .contact-info:nth-child(3n + 2) {
    margin-left: 33.89831%;
    clear: none;
  }
  .contact-info:nth-child(3n + 3) {
    margin-left: 67.79661%;
    clear: none;
  }
  .contact-info h2 {
    color: #72d1c4;
  }
  .contact-info a {
    display: block;
  }

  footer {
    padding: 1em 20px;
  }
}
