<hgroup class="logo">
	<h1 class="logo-en">DCT Wedding</h1>
	<h1 class="logo-zh">夢實．拾夢戶外婚禮顧問團隊</h1>
</hgroup>

<nav class="navigation">
	<ul>
		<li><a href="service">服務特色</a></li>
		<li><a href="service">臺北世貿戶外場地</a></li>
		<li><a href="service">聯絡我們</a></li>
	</ul>
	<a href="#" class="reservation">線上預約</a>	
</nav>