<div class="slider">
</div>


<div class="main">
	<div class="features">
		<div class="feature">
		<span></span>
		<h1>臺北世貿場地專約</h1>
		<p>理想的戶外婚禮，總是在交通不便的地方？想像過，台北市中心也有如此的夢幻場地？諾貝爾建築獎大師操刀，搭配週邊網友一致推薦的宴客場地與菜色，讓你面子裡外兼顧，絕不失禮！</p>
		</div>
		<div class="feature">
			<span></span>
			<h1>西式戶外證婚</h1>
			<p>戶外婚禮，有的只是那一聲我願意，與賓客又笑又淚的滿滿感動，身著西裝禮服，也感受不到任何約束 ，地點、形式隨你挑，即便是多不可能的瘋想，我們不在乎規矩，只在乎你的故事。</p>
		</div>
		<div class="feature">
			<span></span>
			<h1>新人醫美咨詢</h1>
			<p>一切都用最好的，那麼你也值得最好的！多家醫美診所獨家轉介服務，美容美甲一應俱全，讓 DCT 團隊做你的神燈精靈，完美呈現你和你的BIG DAY！</p>	
		</div>
	</div>
</div>




	<video src=""></video>

	<div>
		<!-- fancybox -->
	</div>