// breakpoint

// ---------------------------------------------------------------------------
// breakpoint Setting

// $total-columns  : 12;
// $column-width   : 60px;
// $gutter-width   : 20px;
// $grid-padding   : 10px;
$container-style: fluid;

$mobile    :         4 480px;
$phablet   : 481px   6 ;
$pad       : 741px   9 ;
$laptop    : 981px   12 ;
$desktop   : 1281px  16 ;


// $mobile-padding  : 4px;
// $phablet-padding : 12px;
// $pad-padding     : 16px;
// $laptop-padding  : 20px;
// $desktop-padding : 20px;


$helper-color: #e7dec7;
$theme-color: #53b1ba;
$attention-color: #b12520;
$font-zh: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",helvetica, Arial, "Heiti TC", "LiHei Pro", "Apple LiGothic Medium", "微軟正黑體", "Microsoft JhengHei", sans-serif;
$font-en-1: "Playfair Display SC", "Heiti TC", "LiHei Pro", "Apple LiGothic Medium", "微軟正黑體", "Microsoft JhengHei", sans-serif;
$font-en-2: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif, "Dancing Script";
// $font-en-1: ""
*{
	text-decoration: none;
	@include box-sizing(border-box);
}

p, a, li, h1, h2, h3, label, #ss-submit, #ss-q-title{
	color: #343434;
	font-family: $font-zh;
}

h1{
	text-align: center;
	line-height: 2em;
	@include at-breakpoint($mobile){
		font-size: 1.4em		
	}
	@include at-breakpoint($phablet){
			font-size: 1.4em		
	}
	@include at-breakpoint($pad){
		font-size: 1.6em		
	}
	@include at-breakpoint($laptop){
		font-size: 1.8em;		
	}
}


body{
	background-image: url(../images/container-bg.png);
}
.container{
	// background-color: #f8f8f8;s
	max-width: 1200px;
	margin: 0 auto;
	padding: 1em 0;
	// @include at-breakpoint($mobile){
	// 	// padding: 1em 0;
	// }
	// @include at-breakpoint($phablet){
	// 	// padding: 12px 12px;
	// 	border: 12px solid #fafafa;
	// 	border-top: 0;
	// 	border-bottom: 0;


	// }
	@include at-breakpoint($phablet) {
		padding: 12px 12px;
	}
	@include at-breakpoint($pad) {
		padding: 16px 16px;
	}
	@include at-breakpoint($laptop) {
		padding: 24px 24px;

	}
}


.container-light{
	background-color: #fff;
	max-width: 100%;
}
