/* line 17, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/course.sass */
h1, h2, p, a {
  font-family: "HelveticaNeue", "Helvetica", "Heiti TC", "儷黑 Pro", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
}

/* line 12, ../sass/course.sass */
body {
  position: relative;
  background-color: #ececec;
  background: #d5d5d5;
  background: -moz-linear-gradient(left, lightgrey, #fbfbfb 30%, #fbfbfb 70%, lightgrey 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, lightgrey), color-stop(30%, #fbfbfb), color-stop(70%, #fbfbfb), color-stop(100%, lightgrey));
  background: -webkit-linear-gradient(left, lightgrey, #fbfbfb 30%, #fbfbfb 70%, lightgrey 100%);
  background: -o-linear-gradient(left, lightgrey, #fbfbfb 30%, #fbfbfb 70%, lightgrey 100%);
  background: -ms-linear-gradient(left, lightgrey, #fbfbfb 30%, #fbfbfb 70%, lightgrey 100%);
  background: linear-gradient(to right, #d3d3d3, #fbfbfb 30%, #fbfbfb 70%, #d3d3d3 100%);
}

/* line 22, ../sass/course.sass */
section {
  clear: both;
  height: auto;
}

/* line 25, ../sass/course.sass */
.container {
  max-width: 1160px;
  clear: both;
  margin: 0 auto;
  height: auto;
}

/* line 30, ../sass/course.sass */
.container-min {
  max-width: 680px;
  clear: both;
  margin: 0 auto;
  height: auto;
}

/* line 35, ../sass/course.sass */
h3 {
  text-align: center;
  font-size: 1.5em;
  padding-top: 60px;
  padding-bottom: 40px;
}

/* line 40, ../sass/course.sass */
a {
  text-decoration: none;
}

/* line 42, ../sass/course.sass */
i {
  width: 24px;
  margin-right: 4px;
  text-align: center;
}

/* line 50, ../sass/course.sass */
.hero {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.7);
  width: 100%;
  min-width: 100%;
  height: 628px;
  min-height: 100%;
  padding-top: 20px;
  background-image: url(../images/ippi_cover.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: black;
  background-attachment: fixed;
  margin: 0 0 -4em 0;
}

/* line 66, ../sass/course.sass */
.hero-logo {
  float: left;
  width: 120px;
  height: 114px;
  margin-left: 10px;
  background-image: url(../images/ippi_taipei.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  overflow: hidden;
}

/* line 76, ../sass/course.sass */
.hero-logo-title {
  width: 100%;
  height: 1px;
  text-indent: 9999px;
  overflow: hidden;
}

/* line 81, ../sass/course.sass */
.hero-title {
  color: white;
  float: left;
  margin: 0 0 0 20px;
  font-size: 1em;
  line-height: 1.4em;
  letter-spacing: 0.2px;
  vertical-align: baseline;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* line 90, ../sass/course.sass */
.social {
  float: right;
  width: auto;
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.5);
}
/* line 95, ../sass/course.sass */
.social i {
  width: 40px;
  display: inline-block;
}
/* line 98, ../sass/course.sass */
.social i:hover {
  color: rgba(255, 255, 255, 0.9);
}

/* line 111, ../sass/course.sass */
nav {
  width: 100%;
  height: 64px;
  background-color: rgba(1, 40, 81, 0.7);
  border-bottom: 2px solid black;
}
/* line 116, ../sass/course.sass */
nav ul {
  float: right;
}
/* line 118, ../sass/course.sass */
nav li {
  padding: 1.5em 1.2em;
  margin: auto 0 auto -4px;
  display: inline-block;
  border-bottom: 2px solid #dc0a17;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 125, ../sass/course.sass */
nav li:hover {
  border-bottom: 2px solid #fece2f;
  background-color: #09134a;
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 131, ../sass/course.sass */
nav a {
  color: white;
  height: 100%;
}

/* line 134, ../sass/course.sass */
.nav-program {
  float: left;
  color: white;
  font-size: 1.6em;
  margin-left: 10px;
  display: block;
  padding: 0.75em 0;
  font-family: "Times New Roman", "Georgia", Times, serif;
  font-style: italic;
}

/* line 151, ../sass/course.sass */
.vision {
  max-width: 680px;
  line-height: 1.6;
}
/* line 154, ../sass/course.sass */
.vision p {
  text-indent: 32px;
  margin-bottom: 1em;
}
/* line 157, ../sass/course.sass */
.vision ol {
  padding-left: 20px;
}
/* line 159, ../sass/course.sass */
.vision ol li {
  list-style-type: decimal;
}

/* line 171, ../sass/course.sass */
.leader {
  color: white;
  position: relative;
  background-image: url(../images/ippi_cover.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: black;
  background-attachment: fixed;
}
/* line 181, ../sass/course.sass */
.leader .leader-filter {
  display: block;
  padding: 4em 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 46, 91, 0.8);
}

/* line 187, ../sass/course.sass */
.leader-img {
  float: left;
  width: 142px;
  margin: 8px 20px 0 0;
}

/* line 191, ../sass/course.sass */
.leader-title {
  font-size: 1.2em;
}

/* line 193, ../sass/course.sass */
.host {
  font-size: 1.6em;
}

/* line 205, ../sass/course.sass */
.team-speaker {
  float: left;
  height: 220px;
  width: 270px;
  margin: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 16px;
  position: relative;
}
/* line 214, ../sass/course.sass */
.team-speaker h4, .team-speaker ul {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  bottom: 25px;
}
/* line 219, ../sass/course.sass */
.team-speaker:hover {
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
  transform: scale(1.08);
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  -webkit-box-shadow: rgba(200, 200, 200, 0.8) 0px 8px 4px -4px;
  -moz-box-shadow: rgba(200, 200, 200, 0.8) 0px 8px 4px -4px;
  box-shadow: rgba(200, 200, 200, 0.8) 0px 8px 4px -4px;
}
/* line 224, ../sass/course.sass */
.team-speaker:hover h4 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  top: 16px;
  padding: 8px;
  font-size: 1.2em;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
/* line 230, ../sass/course.sass */
.team-speaker:hover ul {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  bottom: 0px;
  padding: 8px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  color: rgba(250, 250, 250, 0.9);
  background-color: rgba(7, 36, 76, 0.3);
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
/* line 240, ../sass/course.sass */
.team-speaker:last-child {
  margin-bottom: 6em;
}

/* line 243, ../sass/course.sass */
.profile-1 {
  background-image: url(../images/profile/lee_cut.jpg);
  background-size: cover;
  background-position: top center;
}

/* line 247, ../sass/course.sass */
.profile-2 {
  background-image: url(../images/profile/lin_cut.jpg);
  background-size: cover;
  background-position: top center;
}

/* line 251, ../sass/course.sass */
.profile-3 {
  background-image: url(../images/profile/lee_cut2.jpg);
  background-size: cover;
  background-position: center center;
}

/* line 255, ../sass/course.sass */
.profile-4 {
  background-image: url(../images/profile/lin_cut.jpg);
  background-size: cover;
  background-position: center center;
}

/* line 259, ../sass/course.sass */
.profile-5 {
  background-image: url(../images/profile/lin_cut.jpg);
  background-size: cover;
  background-position: center center;
}

/* line 263, ../sass/course.sass */
.profile-6 {
  background-image: url(../images/profile/shih_cut.jpg);
  background-size: cover;
  background-position: center center;
}

/* line 267, ../sass/course.sass */
.profile-7 {
  background-image: url(../images/profile/lin_cut.jpg);
  background-size: cover;
  background-position: center center;
}

/* line 271, ../sass/course.sass */
.profile-8 {
  background-image: url(../images/profile/lee_cut2.jpg);
  background-size: cover;
  background-position: center center;
}

/* line 291, ../sass/course.sass */
.h2-program {
  clear: both;
  font-size: 2em;
  color: white;
  padding: 1em 0;
  text-align: center;
  background-color: #032e5b;
}

/* line 298, ../sass/course.sass */
.lesson {
  max-width: 620px;
  padding-bottom: 4em;
  clear: both;
}

/* line 302, ../sass/course.sass */
.lesson-series {
  font-family: "Times New Roman", "Georgia", Times, serif;
  font-style: italic;
  font-size: 1.6em;
  border-bottom: 1px solid #032e5b;
  margin-bottom: 20px;
  clear: both;
}

/* line 310, ../sass/course.sass */
.lesson-name {
  font-family: "Times New Roman", "Georgia", Times, "Heiti TC", serif;
  font-size: 1.2em;
  margin-bottom: 16px;
  clear: both;
}

/* line 316, ../sass/course.sass */
.lesson-content {
  font-size: 1em;
  margin-bottom: 24px;
  line-height: 1.4;
  color: #5a5a5a;
}

/* line 321, ../sass/course.sass */
.lesson-date {
  margin-bottom: 8px;
  color: #5a5a5a;
}

/* line 324, ../sass/course.sass */
.lesson-price {
  color: #5a5a5a;
}

/* line 327, ../sass/course.sass */
.download {
  margin: 1em 0 4em 0;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  float: right;
  width: 88px;
  padding: 8px 18px;
  display: block;
  border: 1px solid #09467f;
  background-color: #094884;
  color: white;
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0px 2px 2px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.3) 0px 2px 2px inset;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 2px 2px inset;
}
/* line 339, ../sass/course.sass */
.download:hover {
  transition: 0.1s;
  -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px -3px 3px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.2) 0px -3px 3px inset;
  box-shadow: rgba(255, 255, 255, 0.2) 0px -3px 3px inset;
  -webkit-box-shadow: rgba(200, 200, 200, 0.8) 0px 8px 4px -4px;
  -moz-box-shadow: rgba(200, 200, 200, 0.8) 0px 8px 4px -4px;
  box-shadow: rgba(200, 200, 200, 0.8) 0px 8px 4px -4px;
}

/* line 355, ../sass/course.sass */
.register {
  line-height: 1.4;
  color: white;
  position: relative;
  background-image: url(../images/ippi_course.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: black;
  background-attachment: fixed;
  clear: both;
}
/* line 366, ../sass/course.sass */
.register .register-filter {
  display: block;
  padding: 0em 0 4em 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.4);
}

/* line 385, ../sass/course.sass */
footer {
  color: white;
  background-color: #032e5b;
  height: 5em;
  padding-top: 13em;
  position: relative;
}

/* line 391, ../sass/course.sass */
.footer-logo {
  float: right;
  width: 120px;
  height: 76px;
  margin: -10px 0 0 0;
  background-image: url(../images/ippi_taipei.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  overflow: hidden;
}

/* line 401, ../sass/course.sass */
.footer-logo-title {
  width: 100%;
  height: 1px;
  text-indent: 9999px;
  overflow: hidden;
}

/* line 406, ../sass/course.sass */
.footer-contact {
  float: right;
  width: 320px;
  height: 76px;
  margin: 0 0 0 20px;
}

/* line 411, ../sass/course.sass */
.sticky {
  position: absolute;
  bottom: 0;
  height: 5px;
  width: 100%;
  z-index: 20;
}

/* line 417, ../sass/course.sass */
.germany-black, .germany-yellow, .germany-red {
  float: left;
  width: 33.33333%;
  height: 3px;
}

/* line 422, ../sass/course.sass */
.germany-black {
  background-color: rgba(0, 0, 0, 0.7);
  border-top: 2px solid #3c3c3c;
}

/* line 425, ../sass/course.sass */
.germany-red {
  background-color: #8f050e;
  border-top: 2px solid #dc0a17;
}

/* line 428, ../sass/course.sass */
.germany-yellow {
  background-color: #9e8a1b;
  border-top: 2px solid #fece2f;
}

/* line 432, ../sass/course.sass */
#map {
  display: none;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
