/* line 17, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/cover.sass */
h1, h2, p, a {
  color: white;
  font-family: "HelveticaNeue", "Helvetica", "Heiti TC", "LiHei Pro", "Apple LiGothic Medium", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
}

/* line 16, ../sass/cover.sass */
.course .center-button a {
  font-family: "Times New Roman", "Georgia", Times, serif;
  font-style: italic;
}
/* line 19, ../sass/cover.sass */
.course .center-button a .year {
  font-family: "Arial narrow", "HelveticaNeue light", sans-serif;
  font-style: normal;
}

/* line 23, ../sass/cover.sass */
a {
  text-decoration: none;
}

/* line 29, ../sass/cover.sass */
.background-show {
  position: fixed;
  z-index: 10;
  width: 103%;
  min-width: 103%;
  height: auto;
  min-height: 103%;
  margin: -10px;
  background-image: url(../images/ippi_cover.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: black;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  filter: blur(3px);
}

/* line 43, ../sass/cover.sass */
.wrapper {
  position: fixed;
  z-index: 15;
  width: 100%;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* line 64, ../sass/cover.sass */
.logo {
  float: left;
  width: 120px;
  height: 100px;
  margin: 20px 0 0 20px;
  background-image: url(../images/ippi_taipei.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  overflow: hidden;
}
/* line 74, ../sass/cover.sass */
.logo h1 {
  width: 100%;
  height: 1px;
  text-indent: 9999px;
  overflow: hidden;
}

/* line 79, ../sass/cover.sass */
.ippi {
  float: left;
  margin: 22px 0 0 8px;
  font-size: 1em;
  line-height: 1.2em;
  vertical-align: baseline;
}
/* line 85, ../sass/cover.sass */
.ippi .fix {
  letter-spacing: 1.2px;
  margin-top: 3px;
  display: inline-block;
  font-family: "Heiti TC";
}

/* line 98, ../sass/cover.sass */
.course {
  display: table;
  position: fixed;
  z-index: 20;
  height: auto;
  min-height: 100%;
  width: 100%;
}
/* line 106, ../sass/cover.sass */
.course .center-button {
  display: table-cell;
  vertical-align: middle;
}
/* line 109, ../sass/cover.sass */
.course .center-button a {
  color: white;
  font-size: 1.8em;
  display: block;
  width: 300px;
  height: auto;
  margin: 0 auto;
  padding: 12px 24px 12px 24px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-animation: click-me 1.5s infinite ease-in-out;
  animation: click-me 1.5s infinite ease-in-out;
}
/* line 123, ../sass/cover.sass */
.course .center-button a:hover {
  border: 1px solid rgba(255, 255, 255, 0.9);
  -webkit-animation: none;
  animation: none;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
/* line 129, ../sass/cover.sass */
.course .center-button a .year {
  font-size: 20px;
  display: block;
  margin: 4px auto 4px auto;
  text-align: center;
}

@-webkit-keyframes click-me {
  /* line 137, ../sass/cover.sass */
  0% {
    background: rgba(255, 255, 255, 0.1);
  }

  /* line 139, ../sass/cover.sass */
  50% {
    background: rgba(255, 255, 255, 0.3);
  }

  /* line 141, ../sass/cover.sass */
  100% {
    background: rgba(255, 255, 255, 0.1);
  }
}

@keyframes click-me {
  /* line 145, ../sass/cover.sass */
  0% {
    background: rgba(255, 255, 255, 0.1);
  }

  /* line 147, ../sass/cover.sass */
  50% {
    background: rgba(255, 255, 255, 0.3);
  }

  /* line 149, ../sass/cover.sass */
  100% {
    background: rgba(255, 255, 255, 0.1);
  }
}

/* line 159, ../sass/cover.sass */
.contact {
  position: fixed;
  bottom: 14px;
  right: 16px;
  z-index: 30;
}

/* line 166, ../sass/cover.sass */
a, p {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1em;
  letter-spacing: 0.2px;
  display: block;
}

/* line 172, ../sass/cover.sass */
p {
  display: inline;
}

/* line 175, ../sass/cover.sass */
i {
  font-size: 1.2em;
  width: 36px;
  margin: 6px 0 0 0;
  display: block;
  text-align: center;
  margin-left: 16px;
  color: rgba(255, 255, 255, 0.7);
}

/* line 190, ../sass/cover.sass */
.sticky {
  position: absolute;
  bottom: 0;
  z-index: 20;
  width: 100%;
}

/* line 195, ../sass/cover.sass */
.germany-black, .germany-yellow, .germany-red {
  float: left;
  width: 33.33333%;
  height: 3px;
}

/* line 200, ../sass/cover.sass */
.germany-black {
  background-color: rgba(0, 0, 0, 0.6);
  border-top: 2px solid black;
}

/* line 203, ../sass/cover.sass */
.germany-red {
  background-color: rgba(220, 10, 23, 0.5);
  border-top: 2px solid #dc0a17;
}

/* line 206, ../sass/cover.sass */
.germany-yellow {
  background-color: rgba(254, 206, 47, 0.5);
  border-top: 2px solid #fece2f;
}

@media screen and (max-width: 580px) {
  /* line 211, ../sass/cover.sass */
  .background-show {
    position: fixed;
    z-index: 10;
    width: 120%;
    min-width: 110%;
    height: auto;
    min-height: 120%;
    margin: -8px;
    -webkit-filter: blur(3px) grayscale(5%);
    -moz-filter: blur(3px) grayscale(5%);
    filter: blur(3px) grayscale(5%);
  }

  /* line 220, ../sass/cover.sass */
  .wrapper {
    background-color: rgba(0, 0, 0, 0.4);
  }

  /* line 222, ../sass/cover.sass */
  .logo {
    float: left;
    width: 84px;
    height: 80px;
    margin: 10px 0 0 10px;
  }

  /* line 227, ../sass/cover.sass */
  .ippi {
    float: left;
    margin: 12px 0 0 10px;
    font-size: 0.6em;
    line-height: 1.2em;
  }

  /* line 235, ../sass/cover.sass */
  .course .center-button a {
    display: block;
    color: white;
    font-size: 1.5em;
    width: 240px;
    padding: 16px 12px 16px 12px;
  }
  /* line 241, ../sass/cover.sass */
  .course .center-button a .year {
    font-size: 14px;
    display: block;
    margin: 4px auto 6px auto;
    text-align: center;
  }

  /* line 246, ../sass/cover.sass */
  .contact {
    position: fixed;
    bottom: 8px;
    right: 4px;
    z-index: 30;
  }

  /* line 251, ../sass/cover.sass */
  a {
    font-size: 1.6em;
    display: inline-block;
  }
  /* line 254, ../sass/cover.sass */
  a p {
    display: none;
  }

  /* line 257, ../sass/cover.sass */
  i {
    font-size: 1.2em;
    width: 36px;
    margin: 0;
    display: block;
    text-align: center;
    margin-left: 4px;
    margin-bottom: 4px;
    color: rgba(255, 255, 255, 0.7);
  }

  /* line 266, ../sass/cover.sass */
  .fa-map-marker {
    margin-left: -2px;
  }

  /* line 268, ../sass/cover.sass */
  .germany-black, .germany-yellow, .germany-red {
    height: 3px;
  }

  /* line 270, ../sass/cover.sass */
  .germany-black {
    background-color: rgba(0, 0, 0, 0.6);
    border-top: 2px solid black;
  }

  /* line 273, ../sass/cover.sass */
  .germany-red {
    background-color: rgba(220, 10, 23, 0.5);
    border-top: 2px solid #dc0a17;
  }

  /* line 276, ../sass/cover.sass */
  .germany-yellow {
    background-color: rgba(254, 206, 47, 0.5);
    border-top: 2px solid #fece2f;
  }
}
