/* line 17, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 17, ../sass/_base.scss */
section {
  clear: both;
  height: auto;
}

/* line 22, ../sass/_base.scss */
.container {
  margin: 0 auto;
  padding: 20px;
}
@media (min-width: 288px) {
  /* line 22, ../sass/_base.scss */
  .container {
    width: 288px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 38, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .container:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 440px) {
  /* line 22, ../sass/_base.scss */
  .container {
    width: 440px;
  }
}
@media (min-width: 668px) {
  /* line 22, ../sass/_base.scss */
  .container {
    width: 668px;
  }
}
@media (min-width: 896px) {
  /* line 22, ../sass/_base.scss */
  .container {
    width: 896px;
  }
}

/* line 17, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/_course.sass */
h1, h2, p, a {
  font-family: "HelveticaNeue", "Helvetica", "Heiti TC", "儷黑 Pro", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
}

/* line 12, ../sass/_course.sass */
body {
  position: relative;
  background-color: #edf2f3;
}

/* line 23, ../sass/_course.sass */
.container-min {
  clear: both;
  height: auto;
}

/* line 26, ../sass/_course.sass */
h3 {
  text-align: center;
  font-size: 1.5em;
  padding-top: 60px;
  padding-bottom: 40px;
}

/* line 31, ../sass/_course.sass */
a {
  text-decoration: none;
}

/* line 33, ../sass/_course.sass */
i {
  width: 24px;
  margin-right: 4px;
  text-align: center;
}

/* line 41, ../sass/_course.sass */
.hero {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.7);
  width: 100%;
  min-width: 100%;
  height: 680px;
  padding-top: 20px;
  background-image: url(../images/ippi-cover-blur.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: black;
  background-attachment: fixed;
  margin: 0 0 -4em 0;
}

/* line 57, ../sass/_course.sass */
.hero-logo {
  width: 120px;
  height: 114px;
  background-image: url(../images/ippi_taipei.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  overflow: hidden;
}

/* line 66, ../sass/_course.sass */
.hero-logo-title {
  width: 100%;
  height: 1px;
  text-indent: 9999px;
  overflow: hidden;
}

/* line 71, ../sass/_course.sass */
.hero-title {
  color: white;
  float: left;
  margin: 0 0 0 20px;
  font-size: 1em;
  line-height: 1.4em;
  letter-spacing: 0.2px;
  vertical-align: baseline;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* line 80, ../sass/_course.sass */
.social {
  float: right;
  width: auto;
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.5);
}
/* line 85, ../sass/_course.sass */
.social i {
  width: 40px;
  display: inline-block;
}
/* line 88, ../sass/_course.sass */
.social i:hover {
  color: rgba(255, 255, 255, 0.9);
}

/* line 101, ../sass/_course.sass */
nav {
  width: 100%;
  height: 64px;
  background-color: rgba(1, 40, 81, 0.2);
  border-bottom: 2px solid black;
}
/* line 106, ../sass/_course.sass */
nav ul {
  float: right;
}
/* line 108, ../sass/_course.sass */
nav li {
  padding: 1.5em 1.2em;
  margin: auto 0 auto -4px;
  display: inline-block;
  border-bottom: 2px solid #dc0a17;
  font-size: 1em;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 116, ../sass/_course.sass */
nav li:hover {
  border-bottom: 2px solid #fece2f;
  background-color: rgba(1, 40, 81, 0.7);
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 122, ../sass/_course.sass */
nav a {
  color: white;
  height: 100%;
}

/* line 125, ../sass/_course.sass */
.nav-program {
  float: left;
  color: white;
  font-size: 1.6em;
  margin-left: 10px;
  display: block;
  padding: 0.75em 0;
  font-family: "Times New Roman", "Georgia", Times, serif;
  font-style: italic;
}

/* line 142, ../sass/_course.sass */
.vision {
  max-width: 680px;
  line-height: 1.6;
}
/* line 145, ../sass/_course.sass */
.vision p {
  text-indent: 32px;
  margin-bottom: 1em;
}
/* line 148, ../sass/_course.sass */
.vision ol {
  padding-left: 20px;
}
/* line 150, ../sass/_course.sass */
.vision ol li {
  list-style-type: decimal;
}

/* line 162, ../sass/_course.sass */
.leader {
  color: white;
  position: relative;
  background-image: url(../images/ippi_cover.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: black;
  background-attachment: fixed;
}
/* line 172, ../sass/_course.sass */
.leader .leader-filter {
  display: block;
  padding: 4em 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.8);
}

/* line 178, ../sass/_course.sass */
.leader-img {
  float: left;
  width: 142px;
  margin: 8px 32px 0 0;
}

/* line 182, ../sass/_course.sass */
.leader-title {
  font-size: 1.2em;
}

/* line 184, ../sass/_course.sass */
.host {
  font-size: 1.6em;
}

/* line 196, ../sass/_course.sass */
.team-speaker {
  float: left;
  height: 220px;
  width: 270px;
  margin: 0 10px 3em 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
/* line 204, ../sass/_course.sass */
.team-speaker h4 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  top: 16px;
  padding: 16px 8px;
  font-size: 1.2em;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
/* line 210, ../sass/_course.sass */
.team-speaker ul {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  bottom: 25px;
  width: 100%;
}
/* line 215, ../sass/_course.sass */
.team-speaker ul li {
  line-height: 1.4;
  font-size: 12px;
}
/* line 219, ../sass/_course.sass */
.team-speaker:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: rgba(200, 200, 200, 0.8) 0px 8px 4px -4px;
  -moz-box-shadow: rgba(200, 200, 200, 0.8) 0px 8px 4px -4px;
  box-shadow: rgba(200, 200, 200, 0.8) 0px 8px 4px -4px;
}
/* line 224, ../sass/_course.sass */
.team-speaker:hover h4 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  top: 16px;
  padding: 16px 8px;
  font-size: 1.2em;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
/* line 230, ../sass/_course.sass */
.team-speaker:hover ul {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  bottom: 0px;
  padding: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  color: rgba(250, 250, 250, 0.9);
  background-color: rgba(36, 36, 36, 0.5);
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
/* line 239, ../sass/_course.sass */
.team-speaker:last-child {
  margin-bottom: 6em;
}

/* line 242, ../sass/_course.sass */
.profile-1 {
  background-image: url(../images/profile/lee_cut.jpg);
  background-size: cover;
  background-position: top center;
}

/* line 246, ../sass/_course.sass */
.profile-2 {
  background-image: url(../images/profile/lin_cut.jpg);
  background-size: cover;
  background-position: top center;
}

/* line 250, ../sass/_course.sass */
.profile-3 {
  background-image: url(../images/profile/lee_cut2.jpg);
  background-size: cover;
  background-position: center center;
}

/* line 254, ../sass/_course.sass */
.profile-4 {
  background-image: url(../images/profile/lin_cut.jpg);
  background-size: cover;
  background-position: center center;
}

/* line 258, ../sass/_course.sass */
.profile-5 {
  background-image: url(../images/profile/lin_cut.jpg);
  background-size: cover;
  background-position: center center;
}

/* line 262, ../sass/_course.sass */
.profile-6 {
  background-image: url(../images/profile/shih_cut.jpg);
  background-size: cover;
  background-position: center center;
}

/* line 266, ../sass/_course.sass */
.profile-7 {
  background-image: url(../images/profile/lin_cut.jpg);
  background-size: cover;
  background-position: center center;
}

/* line 270, ../sass/_course.sass */
.profile-8 {
  background-image: url(../images/profile/lee_cut2.jpg);
  background-size: cover;
  background-position: center center;
}

/* line 290, ../sass/_course.sass */
.h2-program {
  clear: both;
  font-size: 2em;
  color: white;
  padding: 2em 0;
  margin: 1em 0;
  text-align: center;
  background-color: rgba(3, 46, 91, 0.9);
}

/* line 298, ../sass/_course.sass */
.lesson {
  max-width: 620px;
  padding-bottom: 4em;
  clear: both;
}

/* line 302, ../sass/_course.sass */
.lesson-series {
  font-family: "Times New Roman", "Georgia", Times, serif;
  font-style: italic;
  font-size: 1.6em;
  border-bottom: 1px solid #032e5b;
  margin-bottom: 1em;
  clear: both;
}

/* line 310, ../sass/_course.sass */
.lesson-name {
  font-family: "Times New Roman", "Georgia", Times, "Heiti TC", serif;
  font-size: 1.2em;
  margin-bottom: 16px;
  clear: both;
}

/* line 316, ../sass/_course.sass */
.lesson-content {
  font-size: 1em;
  margin-bottom: 24px;
  line-height: 1.4;
  color: #3e3e3e;
}

/* line 321, ../sass/_course.sass */
.lesson-date {
  margin-bottom: 8px;
  color: #3e3e3e;
}

/* line 324, ../sass/_course.sass */
.lesson-price {
  color: #3e3e3e;
}

/* line 327, ../sass/_course.sass */
.download {
  margin: 1em 0 4em 0;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  float: right;
  width: 88px;
  padding: 8px 18px;
  display: block;
  border: 1px solid #09467f;
  background-color: #094884;
  color: white;
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0px 2px 2px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.3) 0px 2px 2px inset;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 2px 2px inset;
}
/* line 339, ../sass/_course.sass */
.download:hover {
  transition: 0.1s;
  -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px -3px 3px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.2) 0px -3px 3px inset;
  box-shadow: rgba(255, 255, 255, 0.2) 0px -3px 3px inset;
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
  transform: scale(1.01);
}

/* line 357, ../sass/_course.sass */
.register {
  line-height: 1.4;
  color: white;
  position: relative;
  background-image: url(../images/ippi_course.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: black;
  background-attachment: fixed;
  clear: both;
}
/* line 368, ../sass/_course.sass */
.register .register-filter {
  display: block;
  padding: 0em 0 4em 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.4);
}

/* line 387, ../sass/_course.sass */
footer {
  color: white;
  background-color: #032e5b;
  height: 5em;
  padding-top: 13em;
  position: relative;
}

/* line 393, ../sass/_course.sass */
.footer-logo {
  float: right;
  width: 120px;
  height: 76px;
  margin: -10px 0 0 0;
  background-image: url(../images/ippi_taipei.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  overflow: hidden;
}

/* line 403, ../sass/_course.sass */
.footer-logo-title {
  width: 100%;
  height: 1px;
  text-indent: 9999px;
  overflow: hidden;
}

/* line 408, ../sass/_course.sass */
.footer-contact {
  float: right;
  width: 320px;
  height: 76px;
  margin: 0 0 0 20px;
}

/* line 413, ../sass/_course.sass */
.sticky {
  position: absolute;
  bottom: 0;
  height: 5px;
  width: 100%;
  z-index: 20;
}

/* line 419, ../sass/_course.sass */
.germany-black, .germany-yellow, .germany-red {
  float: left;
  width: 33.33333%;
  height: 3px;
}

/* line 424, ../sass/_course.sass */
.germany-black {
  background-color: rgba(0, 0, 0, 0.7);
  border-top: 2px solid #3c3c3c;
}

/* line 427, ../sass/_course.sass */
.germany-red {
  background-color: #8f050e;
  border-top: 2px solid #dc0a17;
}

/* line 430, ../sass/_course.sass */
.germany-yellow {
  background-color: #9e8a1b;
  border-top: 2px solid #fece2f;
}

/* line 434, ../sass/_course.sass */
#map {
  display: none;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
