@import "susy";
$column-width   : 60px;
$gutter-width   : 16px;
$grid-padding   : 8px;
$container-style: static;

$mobile    : 4 ;
$phablet   : 6 ;
$pad       : 9 ;
$laptop    : 12 ;

// /* -------------------------------------------------------------------------*/
// /* Layout */

.container {
  @include container($mobile, $phablet, $pad, $laptop);
  @include susy-grid-background;
	margin: 0 auto;
}