// ---------------------------------------------------------------------------
// breakpoint Setting

// $total-columns  : 12;
// $column-width   : 60px;
// $gutter-width   : 20px;
// $grid-padding   : 10px;
$container-style: fluid;

$mobile   :         4 480px;
$phablet  : 481px   6 640px;
$pad      : 641px   9 980px;
$laptop   : 981px   12 1280px;
$desktop  : 1281px  16 ;


$mobile-padding  : 4px;
$phablet-padding : 12px;
$pad-padding     : 16px;
$laptop-padding  : 20px;
$desktop-padding : 20px;